@using Microsoft.AspNetCore.Http
@model List<Auction>

<div id="dashboard">
    <div class="topsection topreg">
        <h1>Current Auctions</h1>
        <div class="topright">
            <h3>Hi @ViewBag.CurFirstName!</h3>
            <h3><a href="~/logout">Log Out</a></h3>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Seller</th>
                <th scope="col">Top Bid</th>
                <th scope="col">Time Remaining</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var auction in @Model)
                {
                <tr>
                    <td><a href="~/objectinfo/@auction.AuctionId">@auction.ProductName</a></td>
                    <td>@auction.Creator.FirstName</td>
                    <td>$@auction.TopBid</td>
                    <td>@auction.EndDate.Subtract(DateTime.Now).Days days</td>
                    @if(auction.CreatorId == Context.Session.GetInt32("UserId"))
                    {
                        <td>
                            <form asp-action="DeleteAuction" asp-controller="Home" method="post">
                                    <input type="hidden" name="auctionid" value="@auction.AuctionId">
                                    <button type="submit" class="btn btn-outline-primary" style="outline:none;">Delete</button>
                            </form>
                        </td>
                    }
                    else{
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary newa" href="~/addnew">New Auction</a>
    <h5>Your Current Wallet: $@ViewBag.CurrentBalance</h5>
</div>